body {
    background-color: #204051;
    color: #fff;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

/**HEADER**/
#header-nav {
    background-color: #3b6978;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 {
    font-family: "Nunito", serif;
    color: #fff;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #fff;
    text-align: center;
}

#nav-list a:hover {
    background: #84a9ac;
}

#nav-list a span {
    font-size: 1.2em;
}

.navbar-collapse {
    box-shadow: 0;
    border-top: 0px solid;
    box-shadow: none;
}

/*END HEADER*/

/**MAIN BODY**/
.menu-item-description{
    background-color: #84a9ac;
    margin-bottom: 40px;
}

#menu-categories-title{
    font-size: 2em;
    margin-bottom: 20px;
}
.menu-title, .menu.details{
    text-align: center;
}

.menu-item-description h3{
    font-size: 1.9em;
    margin-top: 7px;
    margin-bottom: 20px;
    font-weight: bold;
} 

.menu-item-description p{
    font-size: 1.4em;
    margin:0 40px 10px 40px;
}
/*END MAIN BODY*/





/**RESPONSIVE SIZES**/

/*Large devices only*/
@media (min-width: 1200px) {
    #header-nav {
        height: 70px;
    }
    .navbar-brand h1 {
        margin-top: 8px;
    }
}

/*Medium devices only*/
@media(min-width:992px) and (max-width:1199px) {
    #header-nav {
        height: 70px;
    }
    .navbar-brand h1 {
        margin-top: 8px;
    }
}

/*Small devices only*/
@media(min-width:768px) and (max-width:991px) {
    #header-nav {
        height: 70px;
    }
    .navbar-brand h1 {
        margin-top: 8px;
    }
}

/*Extra small devices only*/
@media(max-width:767px) {
    .navbar-brand h1 {
        font-size: 1.7em;
    }

    #collapsable-nav a {
        /* Collapsed nav menu text */
        font-size: 1.2em;
    }

    #collapsable-nav a span {
        /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    .container{
        width:85%;
    }
    .menu-item-description p{
        font-size: 1.3em;
        margin:0 20px 10px 20px;
    }



}

/*END RESPONSIVE SIZES*/
















/**FONTS**/
@font-face {
    src: url(../fonts/Nunito-Regular.ttf);
    font-family: Nunito;
}

/*END FONTS*/